*{
	margin:0px;
	padding:0px;
	font-family: verdana;
}

div.barra{
	float: left;
    width:50%;
    height:100%;
       
	
}

/*menu lateral*/

div#barra-lateral{
	
    position:fixed;
    width:165%;
    height:100%;
	background-color:#2f3030;
	overflow:hidden;
	transition: all 0.4s;
}

div#logo-menu{
	width:40px;
	height:40px;
	margin:10px;
	background-image:url(pictures/menu.png);
}

div#contenedor-logos-primero{
	margin-top:70px;
}

div.contenedor-logos{
	margin-top:20px;
	margin-left:10px;
	width:130px;
	height:40px;
	
}

/*
	width:40px;
	height:40px;
	background-image:url(pictures/menu.png);
	float: left;
}*/

p.title-menu{
	margin-left:60px;
	line-height: 40px;
}

/*body*/

div#body{
	position:absolute;
	right:0px;
	min-height:300px;
	right:170px;
	
}

div#texto{
	width:50%;
	min-height:300px;
	float:left;
}

p#texto-contenedor-1{
	font-size:25px;
	margin:30px;
	margin-top:50px;
	color:#595959;
}

/*div#foto{
	width:50%;
	height:300px;
	float:right;
}*/

/*img#foto-contenedor-1{
	margin:auto;
	margin-top:15px;
	width:300px;
	display:block;
}*/

